.TELTS {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: #CC0000;
    text-align: left;
    border: solid 1px #b5b8ba;
    text-transform: uppercase;
}
